*
{
    padding: 0;
    margin:0;
    scroll-behavior:smooth;
}
header {
    top: 0;
    left:0;
    position: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    height: 100%;
    background-color: #373736; 
    color: white;
    padding: 10px; 
    box-sizing: border-box;
    box-shadow:0 4 4px;
}
.box {
    /* background-color: rebeccapurple; */
    background-image: url("003.png");
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    margin-bottom: 0px;
    animation-name: heartbeat;
    animation-duration: 1.6s; /* Adjusted duration for a more realistic heartbeat */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

  }
  .box:hover {
    animation-name: heartbeat;
    animation-duration: 1.5s; /* Adjusted duration for a more realistic heartbeat */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

  @keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.05); /* Smaller pulse */
    }
    30% {
        transform: scale(1); /* Back to normal */
    }
    40% {
        transform: scale(1.1); /* Bigger pulse */
    }
    50% {
        transform: scale(1); /* Back to normal */
    }
}
@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.header-element01{
     margin-top: 20px;
    }
.header-element01:hover{
    /* text-shadow: 1px 1px; */
    color:#32b7ff;
    cursor:pointer;
}

.header-element02{
    margin-top: 40px;
}
.header-element02:hover{
    color:rgb(116, 255, 74);
    cursor:pointer;

}
.header-element03{
    margin-top: 40px;
}
.header-element03:hover{
    color:rgb(255, 252, 74);
    cursor:pointer;

}
.header-element04{
    margin-top: 40px;
}
.header-element04:hover{
    color:rgb(255, 183, 74);
    cursor:pointer;

}
.header-element05{
    margin-top: 40px;
}
.header-element05:hover{
    color:rgb(255, 74, 74);
    cursor:pointer;

}
.slideshow-container {
    position: absolute;
    top: 1%; /* height of the header */
    left: 9%; /* width of the header plus some spacing */
    /* max-width: calc(100% - 120px);  */
    margin: auto;
}

.slide {
    display: none;
    position: absolute;
    width: 1050px;
    height: 160px;
    margin-left: 100px;
    transform: scale(0.9); /* Initial smaller size */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slide:hover {
    transform: scale(1); /* Zoom in to original size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
    transform-origin: center;
}
.slide img {
    width: 100%;
    height: auto;
}

.fade {
    animation-name:fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.Hey-There{
    margin-top: 600px;
    margin-left:620px;
    margin-right:0px;
    color:#ffe345;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size:30px;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Hey-There:hover{
    color:#ffe345;
    /* text-decoration: underline; */
    cursor:pointer;
    transform: scale(1.1);
    /* Zoom in */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    /* Add shadow */
    transform-origin: center;
}

.detail{
    margin-left: 250px;
    font-size: 30px;
    color: #fefefe;
    align-content: center;
    /* font-family:sans-serif; */
    font-family: "Ubuntu", sans-serif;
  font-weight: 250;
  font-style: normal;
  cursor:pointer;


}
.blue-heading {
    background-color: #29C5F6;
    color: rgb(16, 4, 4);
    border: none;
    border-radius: 80px;
    box-shadow: 0 0 4px #000000;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    margin-left:240px;
    margin-bottom: 0px;
    margin-top: 50px;
    /* display: block; */
    width: 72%;
    text-align: left;
    padding-left: 90px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.blue-heading:hover{
    /* text-decoration:dotted; */
    background-color: #57cef1;
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;
}

.ABOUT {
    margin-top: 50px;
    color:rgb(236, 233, 239);
    display: flex;
    align-items: center;
    /* box-shadow: 0 0 8px; */
}
.ABOUT-photo {
    width: 289px;
    height: 300px;
    background-image: url("05.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: sticky;
    /* border-style: ridge; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ABOUT-photo:hover {
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;
}
.About-element01 {
    margin-left: 300px;
    margin-right:150px;
    color: #ffd900;
    font-family:  "Grechen Fuemen", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}
.About-element01:hover {
    /* text-decoration: underline; */
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;

}
.About-element03 {
    /* color:black; */
    color: #ffe345;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
 font-family:  "Grechen Fuemen", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    margin-left:15% ;
  }
  .About-element03:hover { 
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;


}
  .check-out{
    color:#333;
    margin-left: 600px;
    margin-top: 15px;
    font-size: 20px;
    height:80px;
    width:290px;
    /* font-family:sans-serif; */
    font-family: "Ubuntu", sans-serif;
  font-weight: 250;
  font-style: normal;
  }

 .about-content{
    display:flex;
    margin-left: 300px;
    font-family: "Ubuntu", sans-serif;
  font-weight: 250;
  font-style: normal;
  cursor:pointer;

 }
 .about-content-text{
    margin-top: 30px;
    font-family:sans-serif;
    font-size: 20px;
    align-content: center;
    width:600px;
    cursor:pointer;

 }
 /* .about-content-photo{
    background-image: url("05.jpg");
    background-repeat: no-repeat;
    background-size:contain;

 } */
 .blue-small-heading {
    /* background-color: #66d8fb; */
    color: rgb(16, 4, 4);
    border-radius: 10px;
    box-shadow: 0 0 4px #000000;
    font-size: 30px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    padding: 10px;
    margin-left:280px;
    margin-bottom: 0px;
    margin-top: 50px;
    width: 16%;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
  font-weight: 550;
  font-style: normal;
}
.blue-small-heading:hover {
    box-shadow: 0 2px 4px #000000;
}
.languages-set{
    display:inline-flex;
    margin-left: 280px;
}
.languages{
    background-color: #bde1ec;
    color: rgb(16, 4, 4);
    border-radius: 15px;
    box-shadow: 0 0 4px #000000;
    font-size: 30px;
    /* font-family:sans-serif; */
    padding: 10px;
    margin-left:20px;
    margin-bottom: 0px;
    margin-top: 50px;
    /* width: 9%; */
    text-align:center;
    /* padding-left: 20px; */
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.languages:hover{
    box-shadow: 2px 2px 4px #000000;
}
.Engineering-detail{
    margin-top:30px;
    margin-left: 300px;
    font-size: 30px;
    align-content: center;
    font-family: "Ubuntu", sans-serif;
  font-weight: 250;
  font-style: normal;
  cursor:pointer;



}
.projects {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-around; /* Distributes space around items */
    margin-left: 350px;
    margin-right: 20px;
}

.project {
    width: 48%; /* Adjust width to fit 2 projects per row */
    margin-bottom: 20px; /* Space between rows */
    
}
.project:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.box:hover {
    animation-name: rotate-flip;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}




.project-image {
    animation-name:rotateY;
    height:80%;
    width:80%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
    margin-top: 50px;
    height: 300px; /* Fixed height for images */
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity:90%;
}

.project-text {
    text-align:left;
    color:#ffe345; /* Example text color */
    margin-top: 10px;
    font-weight: 100px;
    font-size: 50px;
    font-family:  "Crushed", sans-serif;

}
.header-element01 h1 a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
}
.header-element01 h1 {
    color: rgb(230, 230, 230); /* Or any other color */
}
.header-element01:hover h1 {
    color: rgb(32, 202, 249); /* Or any other color */

}
.header-element02 h1 a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
}
.header-element02 h1 {
    color: rgb(230, 230, 230); /* Or any other color */
}
.header-element02:hover h1 {
    color: rgb(50, 249, 32); /* Or any other color */

}
.header-element03 h1 a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
}
.header-element03 h1 {
    color: rgb(230, 230, 230); /* Or any other color */
}
.header-element03:hover h1 {
    color: rgb(249, 245, 32); /* Or any other color */

}
.header-element04 h1 a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
}
.header-element04 h1 {
    color: rgb(230, 230, 230); /* Or any other color */
}
.header-element04:hover h1 {
    color: rgb(249, 144, 32); /* Or any other color */

}
.header-element05 h1 a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
}
.header-element05 h1 {
    color: rgb(230, 230, 230); /* Or any other color */
}
.header-element05:hover h1 {
    color: rgb(249, 32, 32); /* Or any other color */

}
.About-element01  a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
}
.About-element01  {
    color:#bba529; /* Or any other color */
}
.About-element01:hover {
    color:#ddc434; /* Or any other color */

}
.About-element03  a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
}
.About-element03  {
    color:#bba529; /* Or any other color */
}
.About-element03:hover {
    color:#ddc434; /* Or any other color */

}
.project-text  a {
    color: inherit; /* Inherits the color from the parent h1 element */
    text-decoration: none; /* Removes underline from links */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-text  a:hover{
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;

}
.project-text  {
    color:#bba529; /* Or any other color */
    
}
.project-text:hover {
    color:#ddc434; /* Or any other color */

}
.contact-heading {
    /* background-color: #66d8fb; */
    color: rgb(16, 4, 4);
    border-radius: 80px;
    box-shadow: 0 0 4px #000000;
    font-size: 30px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    padding: 10px;
    margin-left:280px;
    margin-bottom: 0px;
    margin-top: 50px;
    /* width: 16%; */
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
  font-weight: 550;
  font-style: normal;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-heading:hover {
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;
    box-shadow: 0 2px 4px #000000;
}
.webpages{
    background-color: #bde1ec;
    color: rgb(16, 4, 4);
    border-radius: 15px;
    box-shadow: 0 0 4px #000000;
    font-size: 30px;
    /* font-family:sans-serif; */
    padding: 10px;
    margin-left:330px;
    margin-bottom: 0px;
    margin-top: 50px;
    /* width: 9%; */
    text-align:center;
    /* padding-left: 20px; */
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.webpages:hover{
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;


}
.PDF-photo{
    margin-top: 50px;
    width:360px;
    height:360px;
    background-image: url("PDF.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    position:sticky;
    margin-left: 350px;
    /* border-style: ridge; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.PDF-photo:hover{
    transform: scale(1.1);
    /* Zoom in */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transform-origin: center;

}
